@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Segoe UI Variable';
  src: url('/fonts/fonnts.com-Segoe_UI_Variable_Static_Display.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Segoe UI Variable';
  src: url('/fonts/fonnts.com-Segoe_UI_Variable_Static_Display_Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Segoe UI Variable';
  src: url('/fonts/fonnts.com-Segoe_UI_Variable_Static_Display_Light.ttf') format('truetype');
  font-weight: 300;
}